@charset "UTF-8";
@font-face {
  font-family: "GenWanMin-SB";
  src: url(../../assets/font/GenWanMin-SB.ttf);
}

@font-face {
  font-family: "方正姚体繁体";
  src: url(../../assets/font/方正姚体繁体.ttf);
}

@font-face {
  font-family: "MyanmarMN";
  src: url(../../assets/font/MyanmarMN.ttf);
}

@-webkit-keyframes backTopMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
}

@keyframes backTopMove {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
}

@-webkit-keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
            transform: translate(-50%, -50%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}

@keyframes rotate {
  0% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
  50% {
    -webkit-transform: translate(-50%, -50%) rotate(30deg);
            transform: translate(-50%, -50%) rotate(30deg);
  }
  100% {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
            transform: translate(-50%, -50%) rotate(45deg);
  }
}

::-webkit-scrollbar {
  width: 1vw;
  background-color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-track {
  background-color: #DBDBDD;
}

::-webkit-scrollbar-thumb {
  background-color: #B13234;
  border-radius: 20px;
  border: solid 3px #DBDBDD;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #9d2c2e;
}

::-moz-selection {
  background-color: #B13234;
  color: #DBDBDD;
}

::selection {
  background-color: #B13234;
  color: #DBDBDD;
}

* {
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "GenWanMin-SB", "MyanmarMN";
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow: hidden;
}

body {
  background-color: #d32b2d;
}

#rotate {
  width: 100vw;
  height: 100vh;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  display: none;
}

#rotate img {
  width: 10vw;
  left: 50vw;
  top: 50vh;
  -webkit-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg);
  -webkit-animation: rotate 1s infinite;
          animation: rotate 1s infinite;
}

#sectionDescription {
  background-color: #DBDBDD;
  z-index: 5;
  width: 100vw;
  padding-top: 25vh;
  display: none;
}

#sectionDescription #backTop {
  border-radius: 50%;
  position: fixed;
  width: 8vh;
  height: 8vh;
  right: 5vh;
  bottom: 5vh;
  z-index: 1000;
  -webkit-animation: backTopMove alternate .5s infinite;
          animation: backTopMove alternate .5s infinite;
}

#sectionDescription #backTop img {
  position: absolute;
  width: 99%;
  cursor: pointer;
}

#sectionDescription #backTop a {
  position: absolute;
  width: 100%;
  height: 100%;
}

#sectionDescription p {
  font-size: 1.5vw;
  line-height: 200%;
  letter-spacing: .5vh;
  color: #375A77;
}

#sectionDescription .title {
  color: #B13234;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10vh;
  margin-bottom: 6vh;
}

#sectionDescription .title .ch {
  font-size: 5vh;
  letter-spacing: 1vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#sectionDescription .title span.en {
  font-family: "MyanmarMN";
  top: .6vh;
  font-size: 3.5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

#logoRed {
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  top: 105vh;
  padding-top: 6vh;
  z-index: 10;
  position: absolute;
}

#logoRed img.logo {
  width: 100vw;
}

#logoRed {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 1;
}

#logoRed #menu {
  margin-top: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logoRed #menu img.arrow {
  cursor: pointer;
  display: none;
  -webkit-transform: translateY(-2.5vh);
          transform: translateY(-2.5vh);
  width: 3.5vw;
  z-index: 10;
}

#logoRed #menu .toggle {
  position: absolute;
  width: 30vw;
  text-align: center;
  display: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#logoRed #menu .toggle h3 {
  cursor: pointer;
  left: 2vw;
  color: #DBDBDD;
  margin: 0;
  margin-top: 4vh;
  font-size: 3vh;
  letter-spacing: 1vh;
}

#sectionDescription #background .synthesizer .keyboard {
  width: 100vw;
  height: 100vh;
}

#sectionDescription #background .synthesizer .keyboard .left {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionDescription #background .synthesizer .keyboard .left img {
  width: 65vw;
  left: 10vw;
  top: 10vh;
  z-index: 1;
}

#sectionDescription #background .synthesizer .keyboard .left p {
  z-index: 1;
  max-width: 40vw;
  margin-left: 5vw;
}

#sectionDescription #background .synthesizer .keyboard .right {
  position: absolute;
  right: 0;
  width: 50vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #background .synthesizer .keyboard .right img.keyboard_img {
  margin-top: 3vh;
  width: 100%;
}

#sectionDescription #background .synthesizer .keyboard .right img.text {
  margin-top: 5vh;
  max-width: 25vw;
}

#sectionDescription #background .culture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
}

#sectionDescription #background .culture .left {
  -webkit-box-flex: 6;
      -ms-flex: 6;
          flex: 6;
}

#sectionDescription #background .culture .left img {
  width: 95%;
  margin-left: 3vh;
}

#sectionDescription #background .culture .right {
  -webkit-box-flex: 4;
      -ms-flex: 4;
          flex: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sectionDescription #background .culture .right .col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

#sectionDescription #background .culture .right .col .col1, #sectionDescription #background .culture .right .col .col2, #sectionDescription #background .culture .right .col .col3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#sectionDescription #background .culture .right p {
  top: 10vh;
  margin-left: 5vh;
  margin-right: 5vh;
}

#sectionDescription #background .culture .right .col img {
  width: 15vh;
}

#sectionDescription #background .culture .right .col .name {
  font-size: 3vh;
  letter-spacing: 1vh;
  color: #B13234;
  text-align: center;
  margin-top: 2vh;
}

#sectionDescription #counterfactual {
  margin-top: 30vh;
}

#sectionDescription #counterfactual .intro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #counterfactual .intro img {
  width: 90vw;
  margin-top: 5vh;
}

#sectionDescription #counterfactual .intro p {
  margin-top: 15vh;
  max-width: 65vw;
}

#sectionDescription #counterfactual img.rendering {
  width: 100vw;
  margin-top: 20vh;
}

#sectionDescription #counterfactual .idea {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 15vh;
}

#sectionDescription #counterfactual .idea .left {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #counterfactual .idea .left img {
  width: 45vw;
}

#sectionDescription #counterfactual .idea .right {
  -webkit-box-flex: 5;
      -ms-flex: 5;
          flex: 5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  top: 5vh;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #counterfactual .idea .right p {
  max-width: 80%;
}

#sectionDescription #counterfactual .showcases {
  margin: 15vh 0 10vh 0;
}

#sectionDescription #counterfactual .showcases .products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #counterfactual .showcases .products img {
  width: 80vw;
  height: 45vh;
  margin: 1vh 0 1vh 0;
}

#sectionDescription #counterfactual .level {
  margin: 10vh 0 10vh 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #counterfactual .level img {
  max-width: 30vw;
}

#sectionDescription #counterfactual .designByPart {
  width: 100vw;
}

#sectionDescription #counterfactual .designByPart .big {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#sectionDescription #counterfactual .designByPart .big img {
  width: 100vw;
}

#sectionDescription #counterfactual .designByPart .big img.structure {
  position: absolute;
  width: 30vw;
  z-index: 1;
  right: 5vw;
}

#sectionDescription #counterfactual .designByPart .small {
  width: 100vw;
  margin-top: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#sectionDescription #counterfactual .designByPart .small img.pic1 {
  width: 25.695vw;
}

#sectionDescription #counterfactual .designByPart .small img.pic2 {
  width: 40.556vw;
}

#sectionDescription #counterfactual .designByPart .small img.pic3 {
  width: 33.821vw;
}

#sectionDescription #footer {
  width: 100vw;
  height: 30vh;
  margin-top: 20vh;
  background-color: #CACACA;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#sectionDescription #footer .contributor {
  color: #666;
  font-size: 2vh;
  line-height: 4vh;
  letter-spacing: .1vh;
}

#sectionDescription #footer .contributor b {
  color: #375A77;
}
/*# sourceMappingURL=style.css.map */