@charset "UTF-8";
@font-face {
  font-family: "GenWanMin-SB";
  src: url(../../assets/font/GenWanMin-SB.ttf);
}
@font-face {
  font-family: "方正姚体繁体";
  src: url(../../assets/font/方正姚体繁体.ttf);
}
@font-face {
  font-family: "MyanmarMN";
  src: url(../../assets/font/MyanmarMN.ttf);
}
::-webkit-scrollbar {
  width: 1vw;
  background-color: rgba(255, 255, 255, 0.6);
}

::-webkit-scrollbar-track {
  background-color: #eee;
}

::-webkit-scrollbar-thumb {
  background-color: #B13234;
  border-radius: 20px;
  border: solid 3px #eee;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #9d2c2e;
}

::selection {
  background-color: #B13234;
  color: #DBDBDD;
}

* {
  position: relative;
  box-sizing: border-box;
  font-family: "GenWanMin-SB", "MyanmarMN";
}

html, body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

#sectionDescription {
  background-color: #DBDBDD;
}

#sectionDescription p {
  font-size: 2vh;
  line-height: 3.5vh;
  letter-spacing: 0.2vh;
  color: #4B647C;
}

#sectionDescription .title {
  color: #B13234;
  display: flex;
  justify-content: center;
  margin-top: 6vh;
  margin-bottom: 6vh;
}
#sectionDescription .title .ch {
  font-size: 3.5vh;
  letter-spacing: 1vh;
  display: flex;
  align-items: flex-end;
}
#sectionDescription .title span.en {
  font-family: "MyanmarMN";
  top: 0.5vh;
  font-size: 2.5vh;
  display: flex;
  align-items: flex-end;
}

#sectionDescription #logoRed {
  display: flex;
  justify-content: center;
  padding-top: 2.6vh;
}

#sectionDescription #logoRed img {
  width: 80vw;
}

#sectionDescription #background .synthesizer {
  display: flex;
  justify-content: flex-end;
}

#sectionDescription #background .synthesizer img.keyboard {
  height: 60vh;
  width: 80vw;
}

#sectionDescription #background .synthesizer p {
  max-width: 30vw;
  position: absolute;
  left: 10vw;
  bottom: 5vh;
}

#sectionDescription #background .culture {
  display: flex;
}
#sectionDescription #background .culture .left {
  flex: 6;
}
#sectionDescription #background .culture .left img {
  width: 55vw;
  height: 65vh;
  margin-left: 3vh;
}
#sectionDescription #background .culture .right {
  flex: 4;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#sectionDescription #background .culture .right .col {
  display: flex;
  justify-content: space-around;
}
#sectionDescription #background .culture .right .col .col1, #sectionDescription #background .culture .right .col .col2, #sectionDescription #background .culture .right .col .col3 {
  display: flex;
  flex-direction: column;
}
#sectionDescription #background .culture .right p {
  top: 10vh;
  margin-left: 3vh;
  margin-right: 3vh;
}

#sectionDescription #background .culture .right .col img {
  width: 20vh;
  height: 20vh;
}

#sectionDescription #background .culture .right .col .name {
  font-size: 3vh;
  letter-spacing: 1vh;
  color: #B13234;
  text-align: center;
  margin-top: 2vh;
}

#sectionDescription #counterfactual .intro {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sectionDescription #counterfactual .intro img {
  width: 80vw;
  height: 40vh;
}
#sectionDescription #counterfactual .intro p {
  max-width: 60vw;
}

#sectionDescription #counterfactual img.rendering {
  width: 100vw;
  height: 90vh;
}

#sectionDescription #counterfactual .idea {
  display: flex;
}
#sectionDescription #counterfactual .idea .left {
  flex: 6;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionDescription #counterfactual .idea .left img {
  width: 35vw;
  height: 60vh;
}
#sectionDescription #counterfactual .idea .right {
  flex: 4;
  display: flex;
  justify-content: center;
  align-items: center;
}
#sectionDescription #counterfactual .idea .right p {
  left: 0;
  margin-right: 10vh;
}

#sectionDescription #counterfactual .showcases {
  margin: 10vh 0 10vh 0;
}
#sectionDescription #counterfactual .showcases .products {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#sectionDescription #counterfactual .showcases .products img {
  width: 80vw;
  height: 45vh;
  margin: 1vh 0 1vh 0;
}

#sectionDescription #counterfactual .designByPart img {
  width: 100vw;
  height: 100vh;
}

#sectionDescription #footer {
  width: 100vw;
  height: 30vh;
  margin-top: 15vh;
  background-color: #CACACA;
}