link(rel="stylesheet", href="./sass/style.css")
#sectionDescription
    #logoRed
        img(src="../assets/brandRed.svg", alt="")
    #background
        .title
            .ch 背景資料
            span.en Background 
        .synthesizer
            img.keyboard(src="", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id rutrum nulla, at accumsan eros. Pellentesque bibendum libero elit, vitae dignissim nisl rutrum sit amet. 
        .culture
            .left 
                img(src="", alt="")
            .right
                .col 
                    .col1 
                        img(src="", alt="")
                        .name 排場
                    .col2 
                        img(src="", alt="")
                        .name 出陣
                    .col3 
                        img(src="", alt="")
                        .name 扮仙戲
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id rutrum nulla, at accumsan eros. Pellentesque bibendum libero elit, vitae dignissim nisl rutrum sit amet.
    #counterfactual
        .title
            .ch 反事實
            span.en Counterfactual 
        .intro 
            img(src="", alt="")
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id rutrum nulla, at accumsan eros. Pellentesque bibendum libero elit, vitae dignissim nisl rutrum sit amet.
        img.rendering(src="", alt="")
        .idea 
            .left
                img(src="", alt="")
            .right
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras id rutrum nulla, at accumsan eros. Pellentesque bibendum libero elit, vitae dignissim nisl rutrum sit amet.
        .showcases
            .products
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
                img(src="", alt="")
        .designByPart 
            img(src="", alt="")
    #footer

