@font-face {
  font-family: "GenWanMin SB";
  src: url(../../assets/font/GenWanMin-SB.ttf);
}
@font-face {
  font-family: "Myanmar MN";
  src: url(../../assets/font/MyanmarMN.ttf);
}
@keyframes arrowMove {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(1vh);
  }
}
@keyframes shadowBreath_Double {
  0% {
    filter: drop-shadow(0px 0px 1vh #ee8948) drop-shadow(0px 0px 0.5vh #ee8948);
  }
  100% {
    filter: drop-shadow(0px 0px 3vh #ee8948) drop-shadow(0px 0px 1.5vh #ee8948);
  }
}
@keyframes shadowBreath {
  0% {
    filter: drop-shadow(0px 0px 1vh #ee8948);
  }
  100% {
    filter: drop-shadow(0px 0px 3vh #ee8948);
  }
}
section.home {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
section.home .bigBackground {
  width: 100%;
  height: 100%;
}
section.home .bigBackground img.background {
  transition-duration: 0.5s;
  position: absolute;
  width: 100vw;
  z-index: -1;
}
section.home .bigBackground .introContainer {
  transition-duration: 0.5s;
  z-index: 10;
  transition-duration: 0.5s;
  margin-top: 15vh;
  top: 100vh;
  transform: translateY(0);
  opacity: 1;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100vh;
}
section.home .bigBackground .introContainer img.brand {
  width: 100%;
  margin-top: 40px;
}
section.home .bigBackground .introContainer .introFrame {
  background-image: url("../../assets/img/introFrame.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 80vw;
  height: 70vh;
  background-size: 95%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-shrink: 0;
  margin-top: 8vh;
  box-sizing: border-box;
  padding: 7vh 10vh 0 10vh;
}
section.home .bigBackground .introContainer .introFrame img {
  visibility: hidden;
}
section.home .bigBackground .introContainer .introFrame p {
  margin-top: 6vh;
  max-width: 65vw;
}
section.home .bigBackground .introContainer .introFrame p span.ch {
  font-family: "GenWanMin SB";
  font-size: 1.5vw;
  line-height: 3vw;
  color: #d6d2c7;
}
section.home .bigBackground .introContainer .introFrame span.en {
  font-family: "Myanmar MN";
  font-size: 1.5vw;
  line-height: 2.5vw;
  color: #d6d2c7;
}
section.home .bigBackground .introContainer img.arrowIcon {
  cursor: pointer;
  margin-top: -1vh;
  width: 3vw;
  animation: arrowMove 0.5s alternate infinite;
}

section.tutorial {
  user-select: none;
  transition-duration: 0.5s;
  background-color: #d32b2d;
  transform: translateY(0);
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  position: relative;
  display: none;
  flex-direction: row;
  position: absolute;
  top: 0;
}
section.tutorial article.instructionArea {
  flex: 3;
  box-sizing: border-box;
}
section.tutorial article.instructionArea .instructionContainer {
  position: absolute;
  bottom: 4vh;
  left: 3vw;
  width: 75%;
  display: flex;
  flex-direction: column;
}
section.tutorial article.instructionArea .instructionContainer .instruction {
  transition-duration: 0.3s;
  background-image: url("../../assets/img/detail_full_img/detail_full_img_1.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 99%;
}
section.tutorial article.instructionArea .instructionContainer .instruction img {
  visibility: hidden;
}
section.tutorial article.instructionArea .instructionContainer .step {
  transition-duration: 0.3s;
  background-image: url("../../assets/img/order_full_img/order_full_img_1.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-size: 99%;
  margin-top: 2vh;
  position: relative;
}
section.tutorial article.instructionArea .instructionContainer .step img.order_frame {
  visibility: hidden;
}
section.tutorial article.instructionArea .instructionContainer .step .stepBtn {
  height: 18px;
  position: absolute;
  bottom: 1.5vh;
}
section.tutorial article.instructionArea .instructionContainer .step .stepBtn.review {
  left: 1.5vw;
}
section.tutorial article.instructionArea .instructionContainer .step .stepBtn.next {
  right: 1.5vw;
}
section.tutorial article.instructionArea .instructionContainer .step .stepBtn.start {
  left: 0;
  right: 0;
  margin: 0 auto;
  bottom: 2.5vh;
}
section.tutorial article.instructionArea .instructionContainer .step p {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
section.tutorial article.displayArea {
  flex: 7;
  position: relative;
  overflow: hidden;
  height: 74vh;
  align-self: flex-end;
  margin-bottom: 4vh;
  margin-right: 6vh;
  transition-duration: 0.3s;
}
section.tutorial article.displayArea .instrument {
  transition-duration: 0.3s;
  background-image: url("../../assets/img/instrumentComponent/gongche body.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 900px;
  height: 480px;
  background-size: 99%;
  transform-origin: right bottom;
  transform: scale(0.9);
  position: absolute;
  right: 5vh;
  bottom: 0vh;
}
section.tutorial article.displayArea .instrument img {
  box-sizing: initial;
  transition-duration: 0.1s;
  position: absolute;
}
section.tutorial article.displayArea .instrument .drum {
  width: 106.5px;
}
section.tutorial article.displayArea .instrument .leftDrum {
  left: 120px;
  top: 11px;
}
section.tutorial article.displayArea .instrument .rightDrum {
  left: 229px;
  top: 11px;
}
section.tutorial article.displayArea .instrument .body {
  visibility: hidden;
  position: relative;
}
section.tutorial article.displayArea .instrument .string {
  width: 604.5px;
  right: 2px;
  bottom: 1px;
}
section.tutorial article.displayArea .instrument .godButtons {
  width: 166px;
  left: 100px;
  top: 260px;
}
section.tutorial article.displayArea .instrument .god_button_1 {
  width: 53.22px;
  left: 234px;
  top: 275px;
}
section.tutorial article.displayArea .instrument .god_button_2 {
  width: 53.22px;
  left: 251px;
  top: 339px;
}
section.tutorial article.displayArea .instrument .flag_cut_top {
  transition-duration: 0.3s;
  width: 80px;
  left: 485px;
  top: 101px;
}
section.tutorial article.displayArea .instrument .flag_cut_bottom {
  transition-duration: 0.3s;
  width: 80px;
  left: 458px;
  top: 152px;
}
section.tutorial article.displayArea .instrument .head_flag {
  border-radius: 50%;
  width: 22.35px;
  left: 403.5px;
  top: 132px;
}
section.tutorial article.displayArea .instrument .long_flag_l,
section.tutorial article.displayArea .instrument .long_flag_r {
  width: 26.24px;
  left: 795px;
  top: 130px;
}
section.tutorial article.displayArea .instrument .umbrella1 {
  transform-origin: center center;
  border-radius: 50%;
  width: 15px;
  left: 608px;
  top: 109.8px;
}
section.tutorial article.displayArea .instrument .umbrella2 {
  transform-origin: center center;
  border-radius: 50%;
  width: 15px;
  left: 659px;
  top: 109.8px;
}
section.tutorial article.displayArea .instrument .umbrella3 {
  transform-origin: center center;
  border-radius: 50%;
  width: 15px;
  left: 582.5px;
  top: 160.8px;
}
section.tutorial article.displayArea .instrument .umbrella4 {
  transform-origin: center center;
  border-radius: 50%;
  width: 15px;
  left: 633.6px;
  top: 160.8px;
}
section.tutorial article.displayArea .instrument .level_switch {
  transition-duration: 0.3s;
  width: 65.5px;
  left: 70px;
  top: 262px;
}
section.tutorial article.displayArea .instrument .screen {
  width: 64.6px;
  left: 698px;
  top: 111px;
}
section.tutorial article.displayArea .instrument .function_1 {
  width: 55px;
  left: 314px;
  top: 145px;
}
section.tutorial article.displayArea .instrument .function_2 {
  width: 71px;
  left: 255px;
  top: 204px;
}
section.tutorial img.manual {
  cursor: pointer;
  position: absolute;
  width: 8vh;
  right: 5vh;
  bottom: 4vh;
  transform: scale(0.99);
}
section.tutorial .openingPage {
  display: none;
  position: absolute;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
}
section.tutorial .openingPage img.manual_opening {
  position: absolute;
  height: 72vh;
  right: 5vw;
  bottom: 3vw;
}